In [ ]:
# Create a function to apply sales tax to a subtotal. Have the function return the total amount after tax

In [ ]:
def tax_calculator(subtotal , sales_tax):
    '''
    arguments = subtotal (numeric), sales_Tax (numeric)
    This function calculates a sales total calculating the sales
    tax on a subtotal and adding it to the subtotal.
    '''
    total = subtotal + subtotal * sales_tax

    return total
    
tax_calculator(100, .09)

In [ ]:
tax_calculator(100, .09)

In [ ]:
tax_calculator?

In [ ]:
# Let's set the default rate to .06 since most of our sales are in Vermont

def tax_calculator(subtotal , sales_tax = .06):
    '''
    arguments = subtotal (numeric), sales_Tax (numeric)
    This function calculates a sales total calculating the sales
    tax on a subtotal and adding it to the subtotal.
    '''
    total = subtotal + subtotal * sales_tax

    return total
    
tax_calculator(100)

In [ ]:
# now have the function return the tax, and total as separate values

In [ ]:
def tax_calculator(subtotal , sales_tax = .06):
    '''
    arguments = subtotal (numeric), sales_Tax (numeric)
    This function calculates a sales total calculating the sales
    tax on a subtotal and adding it to the subtotal. It returns the
    subtotal, tax, and sales tax as a list.
    '''
    tax = subtotal * sales_tax
    total = subtotal + tax

    return [subtotal, tax, total]
    
tax_calculator(100)

In [ ]:
# now loop through this list of transactions and apply the changes

In [ ]:
subtotals = [15.98,899.97,799.97,117.96,
             5.99,599.99,24.99]

full_transactions = []

for subtotal in subtotals:
    transaction = tax_calculator(subtotal)
    full_transactions.append(transaction)

full_transactions

In [ ]:
customer_ids = ['C00004','C00007','C00015','C00016',
                'C00020','C00010','C00006']

customer_dict = dict(zip(customer_ids, full_transactions))

customer_dict

In [ ]:
list(customer_dict.values())

In [ ]:
sum(list(customer_dict.values())[0])

In [1]:
%%writefile tax_calculator.py
def tax_calculator(subtotal , sales_tax = .06):
    '''
    arguments = subtotal (numeric), sales_Tax (numeric)
    This function calculates a sales total calculating the sales
    tax on a subtotal and adding it to the subtotal.
    '''
    tax = subtotal * sales_tax
    total = subtotal + tax

    return [subtotal, tax, total]

Overwriting tax_calculator.py

In [4]:
from tax_calculator import tax_calculator

subtotals = [1799.94, 99.99,254.95,29.98,
             99.99,25.98,649.98,89.99]

list(map(tax_calculator, subtotals ))

[[1799.94, 107.9964, 1907.9364],
 [99.99, 5.9994, 105.98939999999999],
 [254.95, 15.296999999999999, 270.247],
 [29.98, 1.7988, 31.7788],
 [99.99, 5.9994, 105.98939999999999],
 [25.98, 1.5588, 27.538800000000002],
 [649.98, 38.9988, 688.9788],
 [89.99, 5.399399999999999, 95.3894]]

In [ ]:
subtotals = [15.98,899.97,799.97,117.96,5.99,599.99,24.99]

discounted_subtotals = list(map(lambda subtotal : 
                                subtotal - (subtotal * .1) 
                                if subtotal > 500 else subtotal, 
                                subtotals))
discounted_subtotals

In [10]:
def transaction_creator(subtotals, tax_rate):
    transactions = [tax_calculator(subtotal, tax_rate) for subtotal in subtotals]
    return transactions

In [11]:
transaction_creator(subtotals, .08)

[[1799.94, 143.9952, 1943.9352000000001],
 [99.99, 7.9992, 107.9892],
 [254.95, 20.396, 275.346],
 [29.98, 2.3984, 32.3784],
 [99.99, 7.9992, 107.9892],
 [25.98, 2.0784000000000002, 28.0584],
 [649.98, 51.998400000000004, 701.9784],
 [89.99, 7.199199999999999, 97.1892]]

In [ ]:
def transaction_creator(customer_ids, subtotals, tax_rate):
    customer_dict = {customer_ids[i] : tax_calculator(subtotals[i], tax_rate) 
                     for i in range(len(customer_ids))}
    return customer_dict

In [18]:
customer_ids = ['C00004','C00007','C00015','C00016', 'C00020','C00010','C00006']

transaction_creator(customer_ids, subtotals, .08)

{'C00004': [1799.94, 143.9952, 1943.9352000000001],
 'C00007': [99.99, 7.9992, 107.9892],
 'C00015': [254.95, 20.396, 275.346],
 'C00016': [29.98, 2.3984, 32.3784],
 'C00020': [99.99, 7.9992, 107.9892],
 'C00010': [25.98, 2.0784000000000002, 28.0584],
 'C00006': [649.98, 51.998400000000004, 701.9784]}

In [1]:
tax_calculator

NameError: name 'tax_calculator' is not defined

In [ ]:
# could even add promotions!

In [1]:
def currency_converter(price, exchange_rate = .88):
    return round(float(price) * exchange_rate, 2)

In [2]:
price_list = [5.99, 19.99, 24.99, 0, 74.99, 99.99]

[currency_converter(price) for price in price_list]

[5.27, 17.59, 21.99, 0.0, 65.99, 87.99]

In [3]:
list(map(currency_converter, price_list))

[5.27, 17.59, 21.99, 0.0, 65.99, 87.99]